{% extends "layouts/main_layout.html" %} 
{% load static %}
{% block title %}{{ title }}{% endblock title%} 
{% block content %}
<section class="bg-[#F0F2EE]">
  <div class="card lg:card-side max-w-screen-xl mx-auto pt-[120px]">
    <div class="card-body basis-[50%] justify-center items-start gap-10">
        <div class="flex items-center gap-3">
            <div class="h-[40px] w-[2px] bg-red-500"></div>
            <p class="text-lg leading-tight">Best Ear<br>Headphones</p>
        </div>
      <h2 class="card-title text-7xl">Music To <br> Fill Your Heart</h2>
      <button class="btn btn-outline rounded-none transition-all duration-300 ease-in-out hover:text-white hover:-translate-y-1 hover:shadow-lg animate-pulse">
        SHOP NOW 
        <i class="fa-solid fa-arrow-right ml-2 animate-bounce"></i>
      </button>
    </div>
    <figure class="basis-[50%] relative flex items-center justify-center">
        <!-- Pulsing Circle -->
        <div class="absolute animate-pulse-circle w-[400px] h-[400px] rounded-full border-[15px] border-solid border-gray-300"></div>
        
        <!-- Image -->
        <img class="h-auto relative z-10" src="{% static 'Home/images/banner-img.webp' %}" alt="Headphones" />
    </figure>
  </div>
</section>
<!-- Component: Carousel with indicators inside -->
<section class="relative w-full glide-02 max-w-screen-xl mx-auto my-[90px] cursor-pointer">
  <!-- Slides -->
  <div class="overflow-hidden" data-glide-el="track">
      <div class="relative w-full overflow-hidden p-0 whitespace-no-wrap flex flex-no-wrap [backface-visibility: hidden] [transform-style: preserve-3d] [touch-action: pan-Y] [will-change: transform]">
        {% for category in categories %}
        <div>
          <div class="card bg-base-100 rounded-none">
            <figure>
              <img class="w-full"
                src="{{ category.image_path.url }}"
                alt="Shoes" />
            </figure>
              <h2 class="text-center font-medium mt-5">
                {{ category.category_name }}
              </h2>
          </div>
        </div>
        {% endfor %}  
      </div>
  </div>
</seciton>
{% endblock content %}
{% block script %}
var glide02 = new Glide('.glide-02', {
  type: 'carousel',
  focusAt: 'center',
  perView: 3,
  autoplay: 3500,
  animationDuration: 700,
  gap: 24,
  classes: {
      activeNav: '[&>*]:bg-slate-700',
  },
  breakpoints: {
      1024: {
          perView: 2
      },
      640: {
          perView: 1
      }
  },
});
glide02.mount();
{% if messages %}
{% for message in messages %}
Toastify({
  text: "{{ message }}",
  duration: 4000,
  position: "center",
  className: "info",
  close: true,
  style: {
    background: "{% if message.tags == "success" %} linear-gradient(to right, #00b09b, #96c93d) {% else %} #F90369{% endif %}",
  }
}).showToast();
{% endfor %}
{% endif %}
{% endblock script %}