{% extends "layouts/main_layout.html" %} 
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<section class="mx-auto flex flex-col lg:flex-row items-center max-w-screen-xl mx-auto my-[160px] gap-8">
  <section class="basis-[50%]">
    <img class="w-full" src="{% static "images/Refund-pana.png" %}" alt="">
  </section>
  <section class="max-w-screen-sm mx-auto shadow-xl p-16 basis-[50%]">
    <h2 class="text-3xl font-semibold text-center">Forgot Password?</h2>
    <p class="text-center mt-3 mb-7">
        Enter your email address to request password reset.
    </p>
    <form class="flex flex-col gap-5" method="POST">
      {% csrf_token %}
      <label class="input input-bordered flex items-center gap-2 rounded-none">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70">
            <path
              d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
            <path
              d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
          </svg>
          <input type="text" class="grow font-medium" placeholder="Email" name="email" required />
        </label>
      <button class="btn w-full rounded-none bg-[#F90369] hover:bg-[#212529] text-white text-lg">
        Send Request
      </button>
    </form>
    <p class="text-center mt-6">
        Remember your password? <a class="text-[#f50963]" href="{% url "Login:login_view" %}">Login</a>
    </p>
  </section>
</section>
{% endblock content %}
{% block script %}
{% if messages %}
{% for message in messages %}
Toastify({
  text: "{{ message }}",
  duration: 4000,
  position: "center",
  className: "info",
  close: true,
  style: {
    background: "{% if message.tags == "success" %} linear-gradient(to right, #00b09b, #96c93d) {% else %} #F90369{% endif %}",
  }
}).showToast();
{% endfor %}
{% endif %}
{% endblock script %}
